<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>CalcApp</title>

    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="./calc.js" defer></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">

        <div class="container pt-4">
            <div class="row">
                <div class="col-3">
                    <label for="formula">formula:</label>
                </div>
                <div class="col-12">
                    <input class="w-100" id="formula" type="text" v-model="formulaStr" disabled="true">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <label for="result">result:</label>
                </div>
                <div class="col-12">
                    <input class="w-100" id="result" type="number" v-model="result" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="container buttons pt-4">
            <div class="row gy-3 gx-0">
                <div class="col-9">
                    <div class="nums row gy-3 gx-0">
                        <div class="col-4 text-center" v-for="num of nums" :key="num">
                            <button class="btn btn-dark btn-lg rounded-circle border-0 p-0" type="button"
                                @click="inputBtn($event)">{{num}}</button>
                        </div>
                    </div>
                    <div class="nums row gy-3 gx-0 mt-0">
                        <div class="col-8 text-center">
                            <button class="btn btn-dark btn-lg rounded-pill w-140 border-0 p-0" type="button"
                                @click="checkFormula">=</button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-dark btn-lg rounded-circle border-0 p-0" type="button"
                                @click="inputBtn($event)">0</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 border-start border-2">
                    <div class="signs row gy-3 gx-0 mx-auto">
                        <div class="col-12 text-center" v-for="(value, key) of signs">
                            <button class="btn btn-secondary btn-lg rounded-circle border-0 p-0" type="button"
                                @click="inputBtn($event)" :disabled="clicked">{{key}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container buttons pt-4">
            <div class="signs row gy-3 gx-0">
                <!-- <div class="col-3 text-center">
                    <button class="btn btn-dark btn-lg rounded-circle border-0 p-0" type="button"
                        @click="inputBtn($event)">(</button>
                </div>
                <div class="col-3 text-center">
                    <button class="btn btn-dark btn-lg rounded-circle border-0 p-0" type="button"
                        @click="inputBtn($event)">)</button>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-success btn-lg rounded-pill w-140 border-0 p-0" type="button"
                        @click="bsFormula">IRR</button>
                </div> -->
                <div class="col-6 text-center">
                    <button class="btn btn-primary btn-lg rounded-pill w-140 border-0 p-0" type="button"
                        @click="bsFormula">BS</button>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-danger btn-lg rounded-pill w-140 border-0 p-0" type="button"
                        @click="clearResult">CL</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>